body {
	background-color: #fff;
}
.mui-content {
	background-color: #fff;
}
ul.blocks {
	width: 100px;
	height: 100vh;	/* 可以填充整个屏幕高度 */
	background-color: #ddd;
	float: left;
}
ul.blocks li {
	width: 100px;
	height: 60px;
	line-height: 60px;
	padding-left: 10px;
}
ul.blocks li.active {
	background-color: #fff;
	border-left: 4px solid #09B72E;
}

/* 对应的版块 */
.related-blocks {
	margin-left: 100px;
	padding: 10px;
	font-size: 16px;
}
.related-blocks ul {
}
.related-blocks li {
	float: left;
	width: 50%;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.related-blocks .block-icon {
	width: 50px;
	height: 50px;
	border: 1px solid #aaa;
	border-radius: 50%;
	background: url(../images/cover2.jpg);
	background-size: cover;
	float: left;
	margin-right: 5px;
}
.related-blocks .block-name {
	font-weight: 700;
}