.mui-bar.mui-bar-nav {
	background-color: #09B72E;
}
.mui-bar.mui-bar-nav a {
	color: #fff;
}
.mui-bar.mui-bar-nav h1 {
	color: #fff;
}

/* 帖子 */
ul.posts {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
ul.posts li {
	width: 95%;
	padding: 10px;
	border: 1px solid #aaa;
	border-radius: 10px;
	margin: 10px 0;
	background-color: #fff;
}
li .post-user {
	position: relative;
}
li .user-icon {
	width: 50px;
	height: 50px;
	border: 1px solid #aaa;
	border-radius: 50%;
	background: url(../images/cover2.jpg);
	background-size: cover;
}
li .user-nickname {
	position: absolute;
	left: 59px;
	top: 15px;
}
li .post-title {
	font-weight: 700;
	padding: 10px;
}
li .post-preview-pics {
	height: 105px;
}
li .preview-pic {
	float: left;
	width: 150px;
	height: 95px;
	margin-right: 10px;
}
li .preview-pic1 {
	background: url(../images/banner3.jpg);
	background-size: cover;
}
li .preview-pic2 {
	background: url(../images/banner2.jpg);
	background-size: cover;
}
li .create-time {
	float: left;
}
li .reply-num {
	float: right;
}
