/* css初始化 */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;} 
body{color:#333;font-size:16px;font-family:"SimSun","宋体","Arial Narrow";} 
 
ul,ol{list-style-type:none;} 
select,input,img,select{vertical-align:middle;} 
 
a{text-decoration:none;} 
a:link {color:#333;} 
a:visited{color:#333;} 



/* 标题 */
.article {
	padding: 0 20px;
}
.article h1 {
	display: flex;
	justify-content: center;
	font-size: 25px;
	padding: 15px 0;
}
.article .author-icon {
	width: 50px;
	height: 50px;
	background: url(../images/cover2.jpg);
	background-size: cover;
	border: 1px solid #aaa;
	border-radius: 50%;
	margin-bottom: 20px;
}
.article .author-nickname {
	position: absolute;
	left: 84px;
	top: 54px;
}
