/* css初始化 */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;} 
body{color:#333;font-size:16px;font-family:"SimSun","宋体","Arial Narrow";} 
 
ul,ol{list-style-type:none;} 
select,input,img,select{vertical-align:middle;} 
 
a{text-decoration:none;} 
a:link {color:#333;} 
a:visited{color:#333;} 


/* 顶部 */
.top {
	width: 100%;
	height: 120px;
	background-color: #89C348;
	color: #fff;
	position: fixed;
	z-index: 5;
}
.top>a {
	color: #fff;
}
.top-nav {
	width: 100%;
	position: absolute;
	bottom: 1px;
}
.top-nav ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.top-nav li {
	float: left;
	height: 40px;
	line-height: 40px;
}
.top-nav li.active {
	border-bottom: 4px solid #fff;
}

/* 专栏作者 */
.column-authors {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.column-author-item {
	width: 90%;
	height: 200px;
	background-color: #fff;
	position: relative;
	top: 120px;
	border: 1px solid #aaa;
	border-radius: 10px;
	margin: 10px 0;
	padding: 10px;
}
.column-author-base {
	position: relative;
}
.column-author-base .author-icon {
	width: 50px;
	height: 50px;
	border: 1px solid #aaa;
	border-radius: 50%;
	background: url(../images/cover2.jpg);
	background-size: cover;
}
.column-author-base .author-nickname {
	position: absolute;
	left: 60px;
	top: 0px;
	color: #000;
}
.column-author-base .author-fans {
	position: absolute;
	left: 60px;
	top: 30px;
}
.column-author-base a {
	color: #0000ff;
}
/* 专栏缩略图 */
.column-author-pics {
	display: flex;
	justify-content: space-around;
	margin-top: 5px;
}
.column-author-pics-small {
	width: 30%;
	height: 80px;
	background: url(../images/cover2.jpg);
	background-size: cover;    
}