/* 头部 */
header.mui-bar {
	background-color: #09B72E;
}
header .mui-title {
	color: #fff;
}
header .mui-icon {
	color: #fff;
}

/* 表单部分 */
form {
	width: 80%;
	margin: 0 auto;
}
.mui-input-row label {
	width: auto;
	color: #09B72E;
}
form input.mui-input-clear,
form input.mui-input-password
{
	border-bottom: 1px solid #09B72E;
	width: 80%;
}
.mui-button-row button:nth-child(1) {
	border-color: #09B72E;
	color: #09B72E;
}
.mui-button-row button:nth-child(2) {
	background-color: #09B72E;
	color: #fff;
}
 