/* css初始化 */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;} 
body{color:#333;font-size:16px;font-family:"SimSun","宋体","Arial Narrow";} 
 
ul,ol{list-style-type:none;} 
select,input,img,select{vertical-align:middle;} 
 
a{text-decoration:none;} 
a:link {color:#333;} 
a:visited{color:#333;} 


/* 顶部 */
.top {
	width: 100%;
	height: 50px;
	background-color: #09B72E;
	color: #fff;
	position: fixed;
	z-index: 5;
}
.top-nav {
	width: 100%;
	position: absolute;
	bottom: 1px;
}
.top-nav ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.top-nav li {
	float: left;
	height: 40px;
	line-height: 40px;
}
.top-nav li.active {
	border-bottom: 4px solid #fff;
}

/* 视频 */
.content-videos {
	position: relative;
	top: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.content-video-item {
	width: 30%;
	height: 200px;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 10px;
	margin: 10px 0;
}
.content-video-item .cover {
	width: 90%;
	height: 50%;
	margin-left: 5%;
	margin-top: 5%;
	background: url(../images/cover2.jpg);
	background-size: cover;
}
.content-video-item h4 {
	margin: 5% 5% 0;
	height: 30%;
}
.content-video-item .video-data {
	margin-left: 5%;
}